<head>
<%= stylesheet_link_tag "home" %>
</head>
<body>
    <section class="showcase">
			<div class="video-container">
				<video src="https://traversymedia.com/downloads/video.mov" autoplay muted loop></video>
			</div>
			<div class="content">
				<h1>You can get from 50 to 500 followers for free</h1>
				<h3>Click to start</h3>
				<%# <a href="#about" class="btn">Read More</a> %>
				<%= link_to "Free Followers", new_follow_path, class: "btn btn_start" %>
			</div>
		</section>

		<section id="about">
			<h1>About</h1>
			<p>
			This website provides you 50 to 500 live followers and it is very reliable, 
			you just need to enter your instagram account and instagram password and how 
			many followers you want.			</p>

			<h2>Free Instagram Followers App</h2>

			<div class="social">
			<a href="https://twitter.com/traversymedia" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>
				<a href="https://facebook.com/traversymedia" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>
				<a href="https://github.com/bradtraversy" target="_blank"><i class="fab fa-github fa-3x"></i></a>
				<a href="https://www.linkedin.com/in/bradtraversy" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
			</div>
		</section>
        </body>