<div id="<%= dom_id follow %>">
  <p>
    <strong>Username:</strong>
    <%= follow.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= follow.password %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= follow.number %>
  </p>

</div>
